@font-face {
  font-family: "Life is Strange Title";
  src: url(../assets/fonts/WhatnotW00Regular.ttf);
}

.banner {
  width: 100%;
}


h1 {
 
  padding: 3.5rem 0;
  font-family: 'Life is Strange Title', sans-serif;
  font-size: 3rem;
  text-align: center;
}

#about .texts{
  margin: 0 auto;
  text-align: left;
  width: 75%;
}

#about .texts p {

  padding-bottom: 1.5rem;
}