.trailers-container {
  margin: 0 auto;
  width: 75%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.trailers-container iframe {
  border-radius: 5px;
  width: 50%;
  height: 400px;
}

@media (max-width: 850px) {
  .trailers-container {
    flex-direction: column;
    align-items: center;
  }

  .trailers-container iframe {
    width: 75%;
    height: 300px;
  }

}